@model Blog.Models.BlogPostModel

<input asp-for="Id" hidden />
<div class="card" style="margin-bottom: 20px; width:60%; ">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Html.Raw(Model.Text)</p>
        <footer class="blockquote-footer">@Model.CreateDate.ToString("d") by name</footer>
    </div>

</div>

<a class="btn btn-lg" asp-controller="BlogPost" asp-action="UpdateBlogPost" asp-route-id="@Model.Id" style="background-color:#fdc57b; color:#394a51">Edit Post</a>
<a class="btn btn-lg active" role="button" aria-pressed="true" asp-controller="BlogPost" asp-action="DeleteBlogPost" asp-route-id="@Model.Id" style="background-color:#dc2f2f; color:#fbf2d5">Delete Post</a>
<a class="btn btn-lg active" role="button" aria-pressed="true" asp-controller="BlogPost" asp-action="Index" style="background-color:#394a51; color:#fbf2d5">Go Back</a>